.Main {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 40px;

    position: absolute;
    transition: all .2s ease-in-out;
}

.Main > div {
    background-color: white;
    height: 5px;
    width: 60px;
    margin-bottom: 10px;
}

.Main:hover {
    transform: scale(1.2);
}