.Instructions {
    color: white;
    font-size: 60px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 100px;
    margin-bottom: 400px;
}

.Instructions > img {
    width: 250px;
    margin-bottom: -20px;
}

.InstructionsBottom {
    color: white;
    font-size: 100px;
    font-weight: 700;
    line-height: 200%;
    margin-top: 400px;
    margin-bottom: 320px;
}


@keyframes example {
    from {
        transform: translateX(25px);
    }

    to {
        transform: translateX(-25px);
    }    
}

.Arrow {
    font-size: 90px; 
    margin-bottom: 0px;

    animation-name: example;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}
